.header {
  display: flex;
  border-bottom: 1px solid rgba(28,231,131, 1);
  justify-content: space-between;
  align-items: baseline;
  padding: .5rem;
  height: 15%;
}
.navLinks{
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.main {
  height: 30%;

 
}
.footer {
  position: absolute;
  text-align: center;
  height: 5%;
  width: 100%;
  bottom: 0vh;
}
