.header {
  display: flex;
  border-bottom: 1px solid rgba(28,231,131, 1);
  justify-content: space-between;
  align-items: baseline;
  padding: .5rem;
}
.navLinks{
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.main {
  /* width: 100vh; */
  /* height: 100vh; */

 
}
.footer {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0px;
  border-top: 1px solid;
}
