.header {
  position: sticky;
  display: flex;
  border-bottom: 1px solid rgba(28, 231, 131, 1);
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem;
  height: 75px;
  top: 0;
  z-index: 10;
  max-width: 1400px;
  margin: 0 auto;
  background: black;
}
.navLinks {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.main {
  margin-bottom: 1rem;
  height: 85vh;
  max-width: 1400px;
  margin: 0 auto;
}
.footer {
  position: sticky;
  text-align: center;
  height: fit-content;
  width: 100vw;
  bottom: 0px;
  border-top: 1px solid rgba(28, 231, 131, 1);
  max-width: 1400px;
  margin: 0 auto;
  background: black;
}
@media (min-width: 412px) {
  .navLinks {
    width: 75%;
    font-size: 28px;
  }
}
@media (min-width: 768px) {
  .navLinks {
    width: 50%;
    font-size: 32px;
  }
  .footer {
    width: 100%;
  }
  .main {
    border: 1px solid rgba(28, 231, 131, 1);
    height: 100%;
  }
}
