.carouselContainer {
  width: 82%;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.contentWrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.carouselButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.leftArrow,
.rightArrow {
  height: fit-content;
  width: fit-content;
  align-self: flex-end;
  margin: 0.5rem;
  font-size: 24px;
}
.arrowDesktop {
  display: none;
  justify-content: space-around;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  margin: auto auto;
  width: 100px;
  height: 10rem;
  border-radius: 1rem;
}
.leftArrow:hover,
.rightArrow:hover,
.arrowDesktop:hover {
  background: rgba(28, 231, 131, 1);
}
@media (min-width: 321px) {
  .carouselContainer {
    width: 88%;
    margin: 0;
  }
}
@media (min-width: 410px) {
  .carouselContainer {
    width: 76%;
  }
}
@media (min-width: 768px) {
  .carouselContainer {
    width: 90%;
  }
  .contentWrapper {
    width: 75%;
  }
  .leftArrow,
  .rightArrow {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .carouselContainer {
    width: 75%;
  }
  .arrowDesktop {
    display: flex;
  }
  .leftArrow,
  .rightArrow {
    display: none;
  }
}
@media (min-width: 1440px) {
  .carouselContainer {
    width: 85%;
  }
  .contentWrapper {
    width: 60%;
  }
  .carouselContent {
    width: 60%;
  }
  .arrowDesktop {
    margin: auto 0.5rem;
  }
}
