.header {
  display: flex;
  border-bottom: 1px solid;
  justify-content: space-between;
  align-items: baseline;
  padding: .5rem;
}
.navLinks{
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.main {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 0 auto;
  height: 100vh;
}
.footer {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0px;
  border-top: 1px solid;
}
