.footer {
  display: grid;
  position: absolute;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  width: 100%;
  height: 7vh;
  bottom: 0vh;
}
.footerText {
  display: flex;
  align-self: center;
  justify-content: center;
  grid-row: 2/3;
  font-size: 12px;
}
.iconContainer {
  display: flex;
  align-self: center;
  justify-content: center;
  grid-row: 1/2;
}
.icon {
  margin: 0.25rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}
.icon:hover, .icon:active{
color: rgba(28, 231, 131, 1);
}

