.dropdownButton {
  border: 1px solid;
  color: rgba(28, 231, 131, 1);
  border: 1px solid white;
  border-radius: 0.5rem;
  background: black;
  width: 50%;
}
.dropdownSkillContainer {
  position: absolute;
  top: 150px;
  z-index: 10;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  border: 1px solid;
}
.skillContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  display: none;
  flex-wrap: wrap;
}
.sortButton {
  margin: 0.3rem;
  background: none;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: rgba(28, 231, 131, 1);
  border: none;
}
.sortButton:hover {
  box-shadow: 0px 0px 12px rgba(90, 180, 123, 1);
  background: white;
  color: rgba(90, 180, 123, 1);
}
@media (min-width: 768px) {
  .dropdownButton {
    display: none;
  }
  .dropdownSkillContainer {
    display: none;
  }
  .skillContainer {
    display: flex;
  }
  .sortButton {
    color: white;
    border: 1px solid;
    height: fit-content;
  }
}
