.container {
  height: 100%;
}
.section1 {
  width: 30vh;
  margin: 0 auto;
  padding: 0.5rem 0 0 0;
}
.section2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
  padding: 1rem;
  text-align: center;
}
.section2 p,
.section3 p {
  margin: 0;
}
.section3 {
  padding: 1rem;
  width: 100%;
  font-size: 0.9em;
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    height: 100vh;
  }
  .section1 {
    width: 45vh;
  }
  .section2 {
    font-size: 1.5em;
    width: 75%;
    margin: 0 auto;
  }
  .section3 {
    font-size: 1.2em;
    width: 75%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .section2 {
    font-size: 1.6em;
    width: 60%;
  }
  .section3 {
    font-size: 1.3em;
    width: 60%;
  }
}
