.button {
    /* margin-top: 5rem; */
    color: rgb(255,255,255);
    border-radius: 10rem;
    width: 150px;
    height: fit-content;
    text-align: center;
    padding: 0.75rem 0;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    position: absolute;
    top:0%;
    left:0%;
    z-index: 1;
    
  }
  .button::before {
    content: "";
    border-radius: 10rem;
    min-width: calc(150px + 12px);
    min-height: calc(50px + 12px);
    border: 4px solid rgba(28,231,131, 1);
    box-shadow: 0 0 60px rgba(28,231,131, .6);
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
    opacity: 0;
  
    transition: all .3s ease-in-out 0s;
  }
  .button:hover,
  .button:focus {
    background: none;
    color: rgb(255,255,255);
    transform: translateY(-6px);
    box-shadow: none;
  }
  
  .button:hover::before,
  .button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: "";
    border-radius: 100%;
    border: 3px solid rgba(28,231,131, .8);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index:-1;
    top: 50%;
    left: 50%;
    
    animation: ring 5s infinite;
    
  }
  
  .button:hover::after,
  .button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 0px;
      height: 0px;
      opacity: 1;
    }
    100% {
      width: 150px;
      height: 150px;
      opacity: 0;
    }
  }
  