.button {
    /* margin-top: 5rem; */
    color: rgb(255,255,255);
    border-radius: 10rem;
    width: 30%;
    height: fit-content;
    text-align: center;
    /* padding: 0.75rem 0; */
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    position: absolute;
    top:60%;
    left: 10%;
    z-index: 1;
    
  }
  .button::before {
    content: "";
    border-radius: 10rem;
    min-width: calc(100px + 12px);
    min-height: calc(20px + 12px);
    border: 2px solid rgba(7,0,246, 1);
    box-shadow: 0 0 60px rgba(7,0,246, .6);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
  
    transition: all .3s ease-in-out 0s;
  }
  .button:hover,
  .button:focus {
    background: none;
    color: rgb(255,255,255);
    transform: translateY(-6px);
    box-shadow: none;
  }
  
  .button:hover::before,
  .button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: "";
    border-radius: 100%;
    border: 2px solid rgba(7,0,246, .8);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index:-1;
    top: 50%;
    left: 50%;
    
    animation: ring 5s infinite;
    
  }
  
  .button:hover::after,
  .button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 0px;
      height: 0px;
      opacity: 1;
    }
    100% {
      width: 80px;
      height: 80px;
      opacity: 0;
    }
  }
  @media (min-width: 768px){
    .button{
      top: 40%;
      font-size: 30px;
    }
    .button::before{
        min-width: calc(175px + 30px);
        min-height: calc(50px + 30px);
        border: 4px solid rgba(7,0,246, 1);
    }
  }