/* button animation modified from https://codepen.io/mccombsc/pen/ZEzxWPy */

.button {
  margin-top: 5rem;
  background: rgba(126, 202, 156, 1);
  box-shadow: 4px 4px 12px rgba(126, 202, 156, 1);
  color: black;
  border-radius: 10rem;
  width: 150px;
  height: fit-content;
  text-align: center;
  padding: 0.75rem 0;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  position: absolute;
  top:60%;
  z-index: 10;
}
.button::before {
  content: "";
  border-radius: 10rem;
  min-width: calc(150px + 12px);
  min-height: calc(50px + 12px);
  border: 4px solid rgb(126, 202, 156);
  box-shadow: 0 0 60px rgba(126, 202, 156, 0.64);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transition: all 0.3s ease-in-out 0s;
}
.button:hover,
.button:focus {
  background: none;
  color: #eeeeee;
  transform: translateY(-6px);
  box-shadow: none;
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}

.button::after {
  content: "";
  border-radius: 100%;
  border: 3px solid rgba(126, 202, 156, .8);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index:-1;
  top: 50%;
  left: 50%;
  
  animation: ring 5s infinite;
}

.button:hover::after,
.button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}
