html, body{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* height: 100%; */
  /* width: 100%; */
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 1),
    rgb(26, 89, 108)
  );
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  html {
    width: 1400px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 1);
    /* background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgb(26, 89, 108)); */
  }
  /* body{
    width: 100vw;
    height: 100vh;
  } */
}
