.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 10vh;
  background: rgb(0, 0, 0);
  color: #ffffff;
}
.name {
  color: rgba(28, 231, 131, 1);
}
.brandContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
.brandContainer h1 {
  align-self: flex-start;
  margin: 0 0 0.5rem 0.5rem;
}
.brand {
  margin: 0 0.5rem 0 0;
  text-align: right;
}
.brand p {
  margin: 0 0 0 2rem;
}
