.cardContainer {
  width: 250px;
  height: 300px;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 1);
}
.imgContainer {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

.cardText {
  font-size: 0.7em;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  color: rgba(28, 231, 131, 1);
}
.cardDescription {
  align-self: center;
  text-align: center;
  padding: 0.5rem;
}
.cardSkills{
  display: inline;
  margin: 0;
  padding: 0;
}
.cardText p,
.cardText h4 {
  margin: 0;
  width: fit-content;
}
.imgContainer:hover .cardText {
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.85),
    0px 0px 24px rgba(126, 202, 156, 1);
  display: flex;
}
.cardInfoContainer {
  height: 35%;
  border-radius: 0 0 0.5rem.5rem;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 50% 50%;
  row-gap: 0.5rem;
  padding: 1rem;
  color: rgba(90, 180, 123, 1);
}
.cardTitle {
  grid-row: 1/2;
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
  margin: 0;
}
.descriptionButton {
  width: 90%;
  height: fit-content;
  align-self: center;
  justify-self: center;
  background: white;
  text-align: center;
  color: rgba(90, 180, 123, 1);
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  grid-row: 2/3;
  /* grid-column: 2/3; */
}
.cardButton {
  width: 90%;
  height: fit-content;
  justify-self: center;
  grid-row: 3/4;
  
  background: white;
  text-align: center;
  color: rgba(90, 180, 123, 1);
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
}
.cardButton:hover,.descriptionButton:hover,
.cardButton:active, .descriptionButton:active {
  box-shadow: 0px 0px 12px rgba(90, 180, 123, 1);
  background: rgba(90, 180, 123, 1);
  color: rgba(0, 0, 0, 1);
}
@media (min-width: 375px) {
  .cardContainer {
  }
}
@media (min-width: 768px) {
  .cardContainer {
    width: 250px;
  }
}
@media (min-width: 1024px) {
  .cardContainer {
    width: 300px;
  }
}
@media (min-width: 1440px) {
  .cardContainer {
  }
}
