.cardContainer {
  width: 250px;
  height: 300px;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 1);
}
.imgContainer {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

.cardText {
  font-size: 0.8em;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  color: rgba(28, 231, 131, 1);
}
.cardDescription {
  align-self: center;
  text-align: center;
  padding: 0.5rem;
}
.cardText p,
.cardText h4 {
  margin: 0;
}
.imgContainer:hover .cardText {
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.85),
    0px 0px 24px rgba(126, 202, 156, 1);
  display: flex;
}
.cardInfoContainer {
  height: 30%;
  border-radius: 0 0 0.5rem.5rem;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  row-gap: 0.5rem;
  padding: 0.5rem;
  color: rgba(90, 180, 123, 1);
}
.cardTitle {
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: center;
  margin: 0;
}
.descriptionButton{
grid-row: 1/2;
grid-column: 2/3;;
}
.cardButton {
  width: 75%;
  height: fit-content;
  justify-self: center;
  grid-row: 2/3;
  background: white;
  
  color: rgba(90, 180, 123, 1);
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
}
.cardButton:hover, .cardButton:active {
  box-shadow: 0px 0px 12px rgba(90, 180, 123, 1);
  background: rgba(90, 180, 123, 1);
  color: rgba(0, 0, 0, 1);
}
@media (min-width: 375px) {
  .cardContainer {
  }
}
@media (min-width: 768px) {
  .cardContainer {
    width: 250px;
  }
}
@media (min-width: 1024px) {
  .cardContainer {
    width: 300px;
  }
}
@media (min-width: 1440px) {
  .cardContainer {
  }
}
