.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  justify-content: space-between;
}

.sortBar {
  height: 30%;
  padding: 1rem 1em;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.sortBar h4 {
  margin: 0;
  
}
/* .main {
  
} */
.skills {
  align-self: center;
}
@media (min-width: 375px) {
  
}
