.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 95%;
  justify-content: space-between;
}

.sortBar {
  display: flex;
  height: 30%;
  width: 100%;
  padding: 1rem 1em;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.main {
  display: flex;
}
.skills {
  align-self: center;
}
@media (min-width: 768px){
  .sortBar{
    width: 75%;
  }
}
