.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    justify-content: space-between;
}
.sortBar{
  border: 1px solid;
 height: 5vh;
}
.sortBar h4{
  margin: 0;
}
.main{
   display: flex;
   flex-direction: column;
   
}
.skills {
  align-self: center;
}
@media (min-width: 375px) {
  .main {
    flex-direction: row;
  }
}

