.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 100%;
}

.sortBar {
  display: flex;
  height: fit-content;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.sortBar p,
.sortBar div {
  height: fit-content;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mainDesktop {
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.skills {
  align-self: center;
}
@media (min-width: 412px) {
  .sortBar {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .sortBar {
    width: 75%;
  }
  .main {
    display: none;
  }
  .mainDesktop {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .sortBar {
    width: 50%;
  }
}
